.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 40px;
  padding: 8px 10px;
  width: 1200px;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  overflow: visible;

  @include tablet {
    // @include container;
    width: 100%;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }

  @include mobile {
    top: 20px;
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }

  @include mobile-medium {
    padding-left: $mobile-medium-padding;
    padding-right: $mobile-medium-padding;
  }


  button {
    @include button-reset;
    margin-right: 5px;
  }

  .header__logo {
    @include link-reset;
    overflow: visible;
  }
}
