.message {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(000, 000, 000, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 3;
  transform: scale(0);

  .message--show {
    transform: scale(0) translate(-50%, -50%);
  }

  .message__wrapper {
    width: 540px;
    min-height: 80vh;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background: $color-white;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 50%;
    transform: scale(1) translate(-50%, 0);
    padding: 5.6vh;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // @media (max-height: 1000px) {
    //   height: 600px;
    // }

    // // @media (max-height: 809px) {
    // //   height: 80vh;
    // // }

    @include mobile {
      width: 70vw;
      padding: 3vh;
    }


    .message__success--show {
      transform: scale(1) translate(-50%, -50%);
    }

    h3 {
      @include h3;
      margin-bottom: 5.4vh;
      letter-spacing: 0.04em;

      @include mobile {
        font-size: 20px;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        flex-direction: column;
        margin-bottom: 3.7vh;
        letter-spacing: 0.04em;

        // @include mobile {
        //   margin-bottom: 20px;
        // }
      }

      input,
      textarea {
        @include field-reset;
        margin-top: 1.7vh;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        opacity: 0.4;
        border: 1px solid #356EAD;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 2.5vh 4.2vh;
        resize: none;

        // @include mobile {
        //   padding: 15px 30px;
        // }

        &::placeholder {
          font-weight: 300;
          letter-spacing: 0.04em;
          color: $color-main;
          opacity: 0.2;
        }
      }

      textarea {
        height: 14.4vh;
        resize: none;

        // @include mobile {
        //   height: 100px;
        // }
      }

      button {
        @include button-reset;
        background: $color-button;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        padding: 2.3vh 3vh;
        text-align: center;
        color: $color-white;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        letter-spacing: 0.04em;
        margin-top: 3.3vh;

        @include mobile {
          padding: 1.5vh 3vh;
        }
      }
    }
  }

  .message__success {
    @include transition(transform);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    padding: 3.44vh 3vh;
    background-color: $color-white;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

    p {
      font-size: 18px;
      line-height: 30px;
      margin: 0;
    }

    .message__success--show {
      transform: scale(1) translate(-50%, -50%);
    }

    button {
      @include button-reset;
      position: absolute;
      top: 1vh;
      right: 1vh;

      min-width: auto;
      width: 1.3vh;
      height: 1.3vh;

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        background-color: $color-main;
        width: 100%;
        height: 1px;
      }

      &::after {
        transform: translateY(-50%) rotate(45deg);
      }

      &::before {
        transform: translateY(-50%) rotate(-45deg);
      }
    }

  }
}
