.work {
  padding-top: 88px;
  position: relative;
  z-index: 1;
  margin-top: 1px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 93%;
    height: 100%;
    z-index: -1;
    background: $color-blue;
    border-radius: 0px 200px 0px 0px;

    @include tablet {
      width: 96%;
    }

    @include tablet-small {
      border-radius: 0px 150px 0px 0px;
    }

    @include mobile {
      width: calc(100% - $mobile-padding);
    }
  }

  span {
    bottom: 0;
    left: 0;
    width: 78.5%;
    height: 1px;
    z-index: -1;
    background: $color-white;
    display: block;
    margin-left: 0;
    opacity: 0.4;

    @include tablet-small {
      width: 87%;
    }

    @include mobile {
      width: 96%;
    }
  }

  .work__content {
    @include container;
    display: flex;
    padding-bottom: 98px;

    @include mobile {
      flex-direction: column;
    }
  }

  .work__text {
    width: 60%;

    @include tablet-small {
      width: 50%;
    }

    @include mobile {
      width: 80%;
    }

    h2 {
      @include h2;
      color: $color-white;
      width: 70%;
      margin-bottom: 35px;

      @include tablet-small {
        width: 80%;
      }
    }

    p {
      @include p;
      color: $color-white;
      opacity: 0.6;
      width: 80%;

      @include tablet-small {
        width: 90%;
      }

      @include mobile {
        width: 100%;
        margin-bottom: 75px;
      }
    }
  }

  .work__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 6px;

    @include mobile {
      width: 100%;
    }

    button {
      @include button-reset;
      background-color: $color-button;
      border-radius: 10px;
      padding: 15px 30px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      justify-content: center;
      width: 220px;
      min-height: 56px;
      color: $color-white;
      letter-spacing: 0.04em;

      @include mobile {
        width: 80%;
      }
    }
  }
}
