.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

body {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  font-family: $font;
}

main {
  flex: 1 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  line-height: 0;
  font-size: 0;
}

button:focus {
  outline: none;
}

input {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
