$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1204px;
$desktop-wide-width: 1920px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


// Шрифты
$font: "Gilroy", "Arial", sans-serif;


// Цвета
$color-white: #ffffff;
$color-black: #000000;

$color-main: #1f3f68;
$color-button: #5a98d0;
$color-blue: #316099;
$color-hover: #f2f2f2;
